{% import "macros.html" as macros %}
<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="dark light">

		<!-- <meta name="description" content="Page description">
		<meta property="og:title" content="Unique page title - My Site">
		<meta property="og:description" content="Page description">
		<meta property="og:image" content="https://www.mywebsite.com/image.jpg">
		<meta property="og:image:alt" content="Image description">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:url" content="https://www.mywebsite.com/page">
		<link rel="canonical" href=""> -->

		<script>
			const theme = localStorage.getItem("theme");
			if (theme.length > 0) {
				document.getElementsByTagName("html")[0].setAttribute(theme, true);
			}
		</script>

		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		
		<title>{{ config.title }}</title>
		<link href="{{ get_url(path='css/main.css') }}" rel="stylesheet">
	</head>
	<body>
		{% block content %} {% endblock %}
	</body>
</html>